
body {
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}

.plant {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.warning {
    border-top: 20px solid #FFA500;
}
.caution {
    border-top: 20px solid #FF0000;
}